.header-container{
    margin: 2vh 2vw;
    max-width: 100vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

header{
    width: 90vw;
    height: 50px;
    padding: 1vh;
    background-color: #3a3a3a;
    border-radius: 2em;
    padding-inline: 2vw;
    
}

h1{
    font-family: 'General Sans';
    font-weight: 600;
    color: var(--branco);
    font-size: 1.5em;
}

.color-button{
    height: 50px;
    width:  50px;
    background-color: #3a3a3a;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
}