:root{
  --preto: #000;
  --branco: #fff;
}

@font-face {
  font-family: 'Gambetta';
  src: url('./assets/fonts/Gambetta/Gambetta-Variable.ttf');
}

@font-face {
  font-family: 'General Sans';
  src: url('./assets/fonts/GeneralSans/GeneralSans-Variable.ttf');
}
